@{
    ViewBag.Title = "Contact";
}

<div class="jumbotron">
    <h1>C# Weather call.</h1>

</div>

<div class="row">
    <div class="col-lg-12">
        <h4>Singapore's Weather</h4>
        <img id="loading" src="/loading.gif" alt="Updating ..." style="display: block;" />
        <p id="text1"></p>
        <p id="text2"></p>
        <p id="text3"></p>
    </div>
</div>